body {
    background-color: #19222C;
    margin: 0 auto;
    max-width: 100vw;
    height: auto;

}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #19222C;
}

::-webkit-scrollbar-thumb {
    background: #243344;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f4156;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.header {
    /* width: 100%; */
    display: flex;
    grid-area: header;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header_main {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 2%;
    /* justify-content: center;
    flex-direction: column; */
}

.headerLogo {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test {
    width: 100%;

}

.sda{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.movie_list {
    display: flex;
    overflow-x: hidden;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.no-dec {
    text-decoration: none;
}

.movies {
    display: flex;
    overflow-x: hidden;
    transition: 200ms;
    gap: 0.5%;
}


.background_list {
    width: 15vw;
    height: 45vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;

}

.movie-img>div>.types {
    /* display: flex; */
    grid-auto-rows: 10rem;
    padding: 8px 4px 4px 4px;
    
}

.movie-img>div>.types>.element {
    padding: 2px 10px 2px 10px;
    background-color: #FED530;
    color: #161616;
    border-radius: 8px;
}



/* .headerLogo > img{
    
} */



.intro_images {
    height: 45%;
    width: 100%;
}


.intro_images>img {
    width: 100%;
    height: 100%;
}

.background_list{
    display: flex;
    flex-flow: column wrap;
}

@keyframes sliding {
    0% {
        transform: translateX(0px);
    }

    38% {}

    40% {
        transform: translateX(-100vw);
    }

    78% {}

    80% {
        transform: translateX(-200vw);
    }

    100% {}

}


.links {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.links>a {
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-family: sans-serif;

}

.links>a:hover {
    text-decoration: underline;


}




.footer {
    background-color: #0a131f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
}

.footer>address {
    color: white;
}

h2 {
    color: white;
    font-family: sans-serif;
}

.dropdown>i {
    cursor: pointer;
    color: white;
    position: relative;
}

.dropdown>.dropdown-content {
    transition: 200ms;
    display: none;
    position: absolute;
    background-color: rgb(240, 230, 230, 0.8);
    padding: 10px 20px 20px 10px;
    margin-top: 10px;
}

.slider_button_container {
    width: 100vw;
    position: relative;
    bottom: 190px;
    display: flex;
    justify-content: space-between;
}

.previous_click {
    margin-left: 8px;
    background-color: rgb(64, 64, 60, 0.8);
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 100%;
    font-size: 32px;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.previous_click:hover,
.next_click:hover {
    transition: 200ms;
    background-color: rgb(64, 64, 60, 0.9);
}

.next_click {
    margin-right: 40px;
    font-size: 32px;
    background-color: rgb(64, 64, 60, 0.8);
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 100%;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}