body{
    margin: 0;
    background-image: url(../images/back.jpg);
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(20%);
}

.login-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: white;
}
